<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Update Product - Hỏi Dân IT</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(() => {
            const avatarFile = $("#avatarFile");
            const orgImage = "[[${newProduct.image}]]";
            if (orgImage) {
                const urlImage = "/images/product/" + orgImage;
                $("#avatarPreview").attr("src", urlImage).show();
            }

            avatarFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);
                $("#avatarPreview").attr("src", imgURL).show();
            });
        });
    </script>
</head>

<body class="sb-nav-fixed">
<div th:insert="admin/layout/header :: header"></div>
<div id="layoutSidenav">
    <div th:insert="admin/layout/sidebar :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Sản phẩm</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/admin/product">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-6 col-12 mx-auto">
                            <h3>Cập nhật sản phẩm</h3>
                            <hr />
                            <form th:action="@{/admin/product/update}" method="post" enctype="multipart/form-data" th:object="${newProduct}">
                                <input type="hidden" th:field="*{id}" />

                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Name:</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}" />
                                    <div class="invalid-feedback" th:errors="*{name}"></div>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Price:</label>
                                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'" th:field="*{price}" />
                                    <div class="invalid-feedback" th:errors="*{price}"></div>
                                </div>

                                <div class="mb-3 col-12">
                                    <label class="form-label">Detail description:</label>
                                    <textarea class="form-control" th:classappend="${#fields.hasErrors('detailDesc')} ? 'is-invalid'" th:field="*{detailDesc}"></textarea>
                                    <div class="invalid-feedback" th:errors="*{detailDesc}"></div>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Short description:</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('shortDesc')} ? 'is-invalid'" th:field="*{shortDesc}" />
                                    <div class="invalid-feedback" th:errors="*{shortDesc}"></div>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Quantity:</label>
                                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('quantity')} ? 'is-invalid'" th:field="*{quantity}" />
                                    <div class="invalid-feedback" th:errors="*{quantity}"></div>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Hãng sản xuất:</label>
                                    <select class="form-select" th:field="*{factory}">
                                        <option value="APPLE">Apple (iPhone)</option>
                                        <option value="SAMSUNG">Samsung</option>
                                        <option value="XIAOMI">Xiaomi</option>
                                        <option value="OPPO">Oppo</option>
                                        <option value="VIVO">Vivo</option>
                                        <option value="REALME">Realme</option>
                                        <option value="NOKIA">Nokia</option>
                                        <option value="HUAWEI">Huawei</option>
                                        <option value="SONY">Sony</option>
                                        <option value="GOOGLE">Google (Pixel)</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Phân khúc</label>
                                    <select class="form-select" th:field="*{target}">
                                        <option value="CAO_CAP">Cao cấp</option>
                                        <option value="TRUNG_CAP">Trung cấp</option>
                                        <option value="PHO_THONG">Phổ thông</option>
                                        <option value="GAMING">Gaming</option>
                                        <option value="CHUP_ANH">Chụp ảnh</option>
                                        <option value="PIN_KHOE">Pin khỏe</option>
                                        <option value="MONG_NHE">Mỏng nhẹ</option>
                                    </select>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label for="avatarFile" class="form-label">Image:</label>
                                    <input class="form-control" type="file" id="avatarFile" accept=".png, .jpg, .jpeg" name="imgFile" />
                                </div>

                                <div class="col-12 mb-3">
                                    <img style="max-height: 250px; display: none;" alt="avatar preview" id="avatarPreview" />
                                </div>

                                <div class="col-12 mb-5">
                                    <button type="submit" class="btn btn-warning">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="admin/layout/footer :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
